h1 {
    text-align: center;
    color: white;
    text-shadow: beige 2px;
    background-color: gray;
    border: 2px solid rgb(32, 36, 36);
}
h2 {
    text-decoration-style: wavy;
}

a {
    text-decoration: none;
}
/* table */
#table {
    text-align: center;
}
td {
    
    border: solid gray 2px;
    width: 80px;
}
th {
    border: solid gray 2px;
    width: 80px;
}
.th {
    max-width: 10px;
}
#menu{
    float: left;
    width: 20%;
    display: block;
    margin: 5px;  
}
.menu {
    color: black;
    display: block;
    padding: 5px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    background-color: gainsboro;
    border: solid gray;
}
.content{
    /* background-color: aliceblue; */
    float: right;
    width: 78%;
    color: blanchedalmond;
}
button {
    /* position: fixed; */
    top : 20px;
    color : white;
    background-color: gray;
}
iframe {
    position: sticky;
    /* top: 50px; */
    border: #444444 solid 2px;
}
/* Button to change mode */
#snow {
    position: absolute;
    right: 20px;
    top: 45px;
    width: 90px;
}
#sky {
    position: absolute;
    right: 20px;
    top: 70px;
    width: 90px;
}
#nightsky {
    position: absolute;
    right: 20px;
    top: 95px;
    width: 90px;
}
#top {
    float: right;
    position: static;
    /* left: 10px; */
    /* bottom: 10px; */
    margin-right: 3px;
    margin-bottom: 12px;
    padding: 10px;
    border: solid 3px gray;
    color: #ffffff;
    background-color:#444444;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.snowflake {
    position: fixed;
    background-color: #CCC;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
